<a href="https://colab.research.google.com/github/rafinkhanmsc/rafinkhan/blob/main/first_class_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Data types**

## **Basic Variable**

In [ ]:
#creating variable
name = "Rafin khan"
age = 26
color = "Royal Blue"
rafin_skin_color_Dark = False

#printing variables

print("Name = ",name)
print("Age = ",age)
print("Color = ", color)
print("Skin color Dark = ",rafin_skin_color_Dark)

Name =  Rafin khan
Age =  26
Color =  Royal Blue
Skin color Dark =  False

## **Data Types in details**

In [ ]:
## String

name = "Tasin"
sur_name = 'Ahmed'

print("Full name = ",name,sur_name)

#Number

age = 26
height = 5.5

print("Age = ",age) # integer num
print("Height = ", height) # float num

#Boolean
height__feet =

Full name =  Tasin Ahmed
Age =  26
Height =  5.5

In [ ]:
name = "Rafin"
age = 26
rafin_skin_color_Dark = False
divi = 53/2
print(type(name))
print(type(age))
print(type(divi))
print(type(rafin_skin_color_Dark))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
a = 10
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
frist_name = "Rafin"
last_name = "Khan"
full_name = frist_name +" "+last_name
print(full_name)
#Repeated
reapeted = full_name * 3
print(repeated)

#Length
print(len(full_name))

Rafin Khan
Rafin KhanRafin KhanRafin Khan
10

In [ ]:
#Area
len = 7
wid = 5
area = len * wid
print("Area: ", area)

#Perimeter
peri = 0.5*(len+wid)
print(peri)

Area:  35
6.0

In [ ]:
#Creating a list
fruits = ["apple", "banana","mango","leman"]

#Accessing elements
print(fruits[3])

#Negative elements
print(fruits[-2])

#slicing list
print(fruits[1:3])

#Changing elements
fruits[1]= "grape"
print(fruits)

leman
mango
['banana', 'mango']
['apple', 'grape', 'mango', 'leman']

In [ ]:
#bangladeshi food

food_list = ["vat", "mach","dal","murgi","alu vorta"]

#Accessing element
print(food_list[0])

#Negative element
print(food_list[-2])

#slicing list
print(food_list[1:3])

vat
murgi
['mach', 'dal']